<%- include('./partials/header') %>
<%- include('./partials/navbar') %>
<div class="container-xl">
      <div class="card">
        <div class="card-header center"><h1>Perguntas e Respostas</h1></div>
        <p class="card-title">Ultimas 5 Perguntas</p>
        <div class="card-body"><% asks.forEach(ask => {%>
          <div id=<%= ask.id %> class="card">
            <div class="card-body">
              <%= ask.titulo %>
            </div>
            <div class="card-footer"><button class="btn-small btn-primary">Responder</button></div>
          </div>
        <% }) %></div>
      </div>
    </div>
<%- include('./partials/footer') %>
